.authentication_wrapper {
	display: flex;
	margin: auto;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	flex-flow: row wrap;
}
.authentication_wrapper .form_wrapper {
	width: 30%;
	background: #111;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 60px 40px;

	/* height: auto; */
	position: relative;
	margin: auto;
	border-radius: 30px;
	overflow-y: auto;
}
.form-logo {
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
}
.form-logo img {
	height: 80px;
}
.auth_wrapper form {
	width: 100%;
	position: relative;
}
.auth_wrapper form p{
	line-height:0px;
}
.auth_wrapper form label {
	font-size: 18px;
	color: #fff;
	line-height: 17px;
}
.auth_wrapper form input {
	width: 100%;
	height: 45px;
	text-indent: 10px;
}
#wp-submit {
	background: #b30014;
	border: 0px;
	color: #fff;
	font-size: 21px;
	height:45px ;
	border-radius: 6px;
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content:center;
	align-items: center;
}
.form-logo{
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}
.form-logo img{
	height: 50px;
}
.login-submit {
	margin: 0px;
}
.alert.error {
	padding: 0;
	margin: 0;
}

.register_button {
	width: 100%;
	margin-top: 15px;
}
.register_button a {
	width: 100%;
	display: flex;
	align-items: center;
	background: #fafafa;
	justify-content: center;
	height: 45px;

	border-radius: 4px;
	font-size: 18px;
	color: #000;
	text-decoration: none !important;
}
.register_button a:hover{
	color: #000;
}
.register_wrapper{
	width: 40% !important;
}
.register_wrapper form {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.register_wrapper form p {
	width: calc(100% / 2 - 10px);
}
.alert-message.error ul{
	padding: 0;
}
.alert-message.error ul li {
	font-size: 12px;
	color: red;
	line-height: ;
	list-style: none;
}
.alert-message.error {
	width: 100%;
}
#loader {
	
	display: flex;
	align-content: center;
	
}
#loader i{
	font-size:28px;
	color: #fff;
	margin-left: 15px;
	font-size: 25px;
}