* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #000;
}

header {
	text-align: center;
}
header .logo img {
	margin: 10px 0;
    width: 100%;
    max-width: 400px;
}
#wpcf7-f5-o1 {
	display: block;
	overflow: hidden;
}
.choice-section h1 {
/*	text-transform: uppercase;*/
	text-align: center;
	color: #fff;
	font-size: 3rem;
	margin-bottom: 50px;
}

/*choosing section*/
section.choice-section {
	margin-bottom: 50px;
}
section.choice-section .choices {
	display: flex;
	justify-content: center;
}
section.choice-section .choices .choice-box {
	width: 300px;
	margin: 0 15px;
}
section.choice-section .choices .choice-box a {

}
section.choice-section .choices .choice-box a img {
	border: 1px solid #fff;
	width: 100%;

}
section.choice-section .choices .choice-box p {
	font-size: 1rem;
	color: #fff;
	margin: 20px 0;
}
section.choice-section .choices .choice-box a.choice-button {
	border: 2px solid #b30014;
	padding: 5px;
	display: block;
	text-align: center;
	text-decoration: none;
	/*text-transform: uppercase;*/
	color: #fff;
	transition: all .3s ease;
}
section.choice-section .choices .choice-box a.choice-button:hover {
	background: #b30014;
}
/*end of choosing section*/

/*join us section*/
section.join-us {
	margin-bottom: 100px;
}
section.join-us .join-us-message {
	text-align: center;
}
section.join-us .join-us-message img {
	width: 80px;
}
section.join-us .join-us-message p {
	color: #fff;
	font-size: 1.2rem;
	margin: 10px 0 20px 0;
}
hr {
	border-top: 2px dashed #1f1f1f;
	margin-bottom: 50px;
}
section.join-us .join-us-title {
	text-align: center;
	color: #fff;
	margin-bottom: 30px;
}
section.join-us .join-us-title h2 {
	font-size: 2rem;
}
section.join-us .join-us-title p {
	font-size: 1rem;
} 
section.join-us .join-us-title p span {
	color: #b30014;
}
/*join-us form*/
section.join-us .form-wrapper {
	display: flex;
	justify-content: center;
}
section.join-us .form-wrapper .join-us-form {
	width: 700px;
}
section.join-us .form-wrapper .join-us-form label {
	color: #fff;
	font-size: 1rem;
}
section.join-us .form-wrapper .join-us-form label span {
	color: #b30014;
}
section.join-us .form-wrapper .join-us-form input {
	font-size: 1rem;
	padding: 5px 10px;
	width: 325px;
	height: 45px;
	margin-bottom: 20px;
}
section.join-us .form-wrapper .join-us-form textarea {
	font-size: 1rem;
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
	padding: 5px 10px;
}
section.join-us .form-wrapper .join-us-form .form-checkbox input {
	width: 30px;
	height: 30px;
}
section.join-us .form-wrapper .join-us-form .form-checkbox label {
	margin: 0 20px 0 10px;
}
section.join-us .form-wrapper .join-us-form .form-buttons {

}
section.join-us .form-wrapper .join-us-form .form-buttons button {
	border: none;
	padding: 10px 30px;
	font-size: .8rem;
	margin-right: 20px;
	background: #fff;
	transition: all .3s ease;
}
section.join-us .form-wrapper .join-us-form .form-buttons button:hover {
	background: #dbdbdb;
}
/*end of join us form*/
/*end of join us section*/


/*-------------------------------------------------------------------*/

@media screen and (max-width: 767px) {
	section.choice .choices .choice-box p {
		font-size: 1.1rem;
	}
	section.join-us .form-wrapper .join-us-form input {
		width: 100%;
		height: 50px;
	}
}

@media screen and (max-width: 575px) {
	section.choice .choices .choice-box p {
		font-size: 1rem;
	}
}