@media only screen and (max-width:  1024px){
	.container{
		width: 92% !important;
		max-width: 92% !important;
	}
}
@media only screen and (max-width: 800px) {
	section.navigation-bar .main-nav {
		display: none;
	}
	section.navigation-bar .mobile-nav {
		display: block;
	}
	.single-blog-wrapper .single-blog-image {
		width: 50%;
	}	
	.authentication_wrapper .form_wrapper {
		width: 70%;
	}	
	.register_wrapper {
		width: 90% !important;
	}
}
@media only screen and (max-width: 680px){
	.authentication_wrapper .form_wrapper {
		width: 90%;
	}
	.register_wrapper form p {
		width: 100%;
	}
	.inner-page_banner-content-wrapper {
		padding: 40px 0px;
	}
	.container{
		width: 98% !important;
		max-width: 98% !important;
	}
	.service-item {
		width: calc(100% / 2 - 10px);
	}
	.blog-items-wrapper .blog-item {
		width: calc(100% / 2 - 10px);
	}
	.single-blog-wrapper .single-blog-image {
		width: 100%;
		margin-right:0px;
		margin-bottom: 15px;
	}
	.single-blog-heading h1 {
		font-size: 28px;
		line-height: 33px;
	}
	.wpcf7-form.init.enquiry-form.contact-form {
	 		padding:0px; 
	}
}
@media only screen and (max-width: 550px){
	.authentication_wrapper .form_wrapper {
		padding: 30px 15px;
	}
	.inner-page_banner-content-wrapper {
		padding: 30px 0px;
	}
	.inner-title h1 {
		font-size: 40px;
	}
	.blog-item .blog-image {
		height: 160px;
	}
	.service-image {
		height: 150px;
	}
	.secvice-contents {
		padding: 12px 5px;
	}
	.secvice-contents h1, .secvice-contents h1 a {
		font-size: 16px;
		line-height: 22px;
	}
	.blog-item-wrapper .blog-content h1, .blog-content h1 a {
		font-size: 16px;
		line-height: 22px;
	}
	.blog-item-wrapper .blog-content p {
		font-size: 12px;
		line-height: 19px;
	}
	section.gallery .gallery-slider-wrapper .items {
		height: 150px;
	}
}