html, body {
      margin: 0px !important;
      padding: 0;
      background: #000;
    }

    * {
      box-sizing: border-box;
    }


  /*topbar*/
header.topbar {
	height: 40px;
	width: 100%;
	background: #e50019;
}
header.topbar .topbar-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 40px;
	margin-left: 10px;
}
header.topbar .topbar-content .topbar-social {
	display: flex;
	align-items: center;
}
header.topbar .topbar-content .topbar-social h2 {
	color: #fff;
	font-size: 15px;
	margin-right: 10px;
	margin-bottom: 0;
}
header.topbar .topbar-content .topbar-social img {
	margin-right: 5px;
	width: 25px;
	margin-bottom: 4px;
}
header.topbar .topbar-content .topbar-contact {
	
}
header.topbar .topbar-content .topbar-contact a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}
header.topbar .topbar-content .topbar-location {
	display: flex;
	align-items: center;
}
header.topbar .topbar-content .topbar-location a {
	text-decoration: none;
	font-size: 17px;
	font-weight: 600;
	color: #fff;
}
header.topbar .topbar-content .topbar-location i {
	font-size: 20px;
 	margin-right: 5px;
 	color: #000;
}
/*end of topbar*/


/*navigation bar*/
/*for hiding mobile nav*/
section.navigation-bar .mobile-nav {
	display: none;
}
/*end*/
/*mobile-nav*/
nav.mobile-nav {
	background: #000;
}
nav.mobile-nav .mobile-nav-content {
	overflow: hidden;
}
nav.mobile-nav .mobile-nav-content .left-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav.mobile-nav .mobile-nav-content .main-logo {
	width: 80px;
}
nav.mobile-nav .mobile-nav-content .main-logo a {
	
}
nav.mobile-nav .mobile-nav-content .main-logo img {
	width: 100%;
}


nav.mobile-nav .mobile-nav-content .left-content .mobile-menu-button {
	height: 40px;
	width: 40px;
	background: #000;
	display: flex;
	justify-content: start;
	align-items: center;
}
nav.mobile-nav .mobile-nav-content .left-content .mobile-menu-button .menu-bars {
	background: #fff;
	width: 20px;
	height: 3px;
}
nav.mobile-nav .mobile-nav-content .left-content .mobile-menu-button .menu-bars:before,
nav.mobile-nav .mobile-nav-content .left-content .mobile-menu-button .menu-bars:after {
	content: '';
	position: absolute;
	height: 3px;
	background: #fff;
}
nav.mobile-nav .mobile-nav-content .left-content .mobile-menu-button .menu-bars:before {
	width: 30px;
	transform: translateY(-10px);
}
nav.mobile-nav .mobile-nav-content .left-content .mobile-menu-button .menu-bars:after {
	width: 10px;
	transform: translateY(10px);
}

nav.mobile-nav .mobile-nav-content .right-content {
	text-align: center;
	position: fixed;
	right: 0;
	top: 0;
	background: #1b1b1b;
	width: 0;
	height: 100%;
	transition: all .5s ease;
	z-index: 1000;
	overflow: hidden;
}
nav.mobile-nav .mobile-nav-content .right-content .mobile-nav-close {
	font-size: 40px;
	color: #fff;
	margin-bottom: 5px;
	margin-right: 20px;
	float: right;
}
nav.mobile-nav .mobile-nav-content .right-content .mobile-nav-close a {
	text-decoration: none;
	color: #fff;
	padding: 10px;
}
nav.mobile-nav .mobile-nav-content .right-content .mobile-nav-links {
	clear: both; /*clearning float right in .mobile-nav-close*/
}
nav.mobile-nav .mobile-nav-content .right-content .mobile-nav-links ul {
	margin: 0;
	padding: 0;
}
nav.mobile-nav .mobile-nav-content .right-content .mobile-nav-links ul li {
	list-style-type: none;
}
nav.mobile-nav .mobile-nav-content .right-content .mobile-nav-links ul li a {
	text-decoration: none;
	display: block;
	font-weight: bold;
	color: #fff;
	/*border: 2px solid red;*/
	padding: 10px 20px;
	transition: .3s ease;
}
nav.mobile-nav .mobile-nav-content .right-content .mobile-nav-links ul li a:hover {
	background: #fff;
	color: #000;
}
/*end of mobile-nav*/

/*main navigation*/
section.navigation-bar {
	height: 108px;
	width: 100%;
	background: #000;
	position: sticky;
	top: 0;
	z-index: 99;
	display: flex;
	align-items: center;
}
section.navigation-bar .navigation-contents {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
section.navigation-bar .navigation-contents .navigation-toggle-btn {
	display: none;
}
section.navigation-bar a {
	text-decoration: none;
	color: #fff;
}
section.navigation-bar .main-logo {
}
section.navigation-bar .main-logo img {width: 115px;}
section.navigation-bar .navigation-links {

}
section.navigation-bar .navigation-links ul {
	margin-bottom: 0;
	padding: 0;
}
section.navigation-bar .navigation-links ul li {
	list-style-type: none;
	display: inline-block;
	position: relative;
}
section.navigation-bar .navigation-links ul li a {
	padding: 10px;
}
section.navigation-bar .sub-logo {
}

section.navigation-bar .sub-logo img {width: 90px;}

/*banner-slider*/
section.banner {

}
.banner-slider-wrapper {
	width: 100%;
	margin: 0 auto;
	background: #000;
}
.banner-slider-wrapper .owl-carousel .items {
	height: 450px;
	background: #000;
}
.banner-slider-wrapper .owl-carousel .items img {
	height: 100%;
	object-fit: cover;
}
.banner-slider-wrapper .owl-carousel .owl-dots {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 10%;
}



/*universal title css*/
.section-title h2 {
	color: #fff;
	font-size: 2.5rem;
	letter-spacing: .3px;
	margin-bottom: 30px;
}
/*end of title css*/
/*universal button css*/
.section-button {
	margin-top: 40px;
}
.section-button a {
	text-decoration: none;
	border: 2px solid #e50019;
	font-size: .8rem;
	background: transparent;
	padding: 10px 30px;
	color: #fff;
	transition: all .3s ease;
}
.section-button a:hover {
	background: #e50019;
}
/*end of button css*/



/*about-us section*/
section.about-us {
	color: #fff;
	padding: 50px 0;
}
section.about-us .about-us-center {
	justify-content: space-between;
	align-items: center;
}
section.about-us .about-us-text {
	text-align: justify;
	padding: 10px;
}
section.about-us .about-us-text p {
	font-size: 1.1 rem;
	margin: 20px 0;
}

/*about us-image*/
section.about-us .about-us-img {
	width: 400px;
	height: 400px;
	display: block;
	margin: 0 auto;
	border-radius: 200px;
	overflow: hidden;
}
section.about-us .about-us-img:before {
	content: "";
	/*position: absolute;
	width: 420px;
	height: 420px;
	border-radius: 250px;
	border: 2px dashed #fff;
	left: 55px;
	top: -10px;*/
	
}

section.about-us .about-us-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
}
/*end of about us image*/
/*end of about-us section*/



/*enquiry and services section*/
section.enquiry-services {
	background-color: #1b1b1b;
	background-image: url(../images/boutique_background.svg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px 0;
	padding-bottom: 50px;
}
section.enquiry-services .section-title {
	padding: 10px;

}
section.enquiry-services .enquiry-services-items {
	
}
/*online enquiry form*/
section.enquiry-services .form-wrapper {
	padding: 10px;
}
section.enquiry-services .form-wrapper .enquiry-form {

}
section.enquiry-services .form-wrapper .enquiry-form label {
	color: #fff;
	font-size: 1rem;
}
section.enquiry-services .form-wrapper .enquiry-form label span {
	color: #b30014;
}
section.enquiry-services .form-wrapper .enquiry-form input {
	font-size: 1rem;
	padding: 5px 10px;
	width: 100%;
	height: 45px;
	margin-bottom: 0px;
}
section.enquiry-services .form-wrapper .enquiry-form textarea {
	font-size: 1rem;
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
	padding: 5px 10px;
}
section.enquiry-services .form-wrapper .enquiry-form .form-buttons {

}
section.enquiry-services .form-wrapper .enquiry-form .form-buttons button {
	border: none;
	padding: 10px 30px;
	font-size: 16px;
	margin-right: 0px;
	background: #fafafa;
	transition: all .3s ease;
	width: 100%;
	border-radius: 4px;
}
section.enquiry-services .form-wrapper .enquiry-form .form-buttons button:hover {
	background: #dbdbdb;
}
/*end of enquiry form*/
/*service vertical slider*/
section.enquiry-services .service-slider-wrapper {
	margin-top: 60px;
	width: 100%;
	position: relative;
}
section.enquiry-services .service-slider-wrapper .slick-active {
	opacity: 1;
}
/*service slider buttons*/
section.enquiry-services .service-slider-wrapper .service-slider-btn {
	border: none;
	outline: none;
	background: transparent;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
section.enquiry-services .service-slider-wrapper .prev-button i, 
section.enquiry-services .service-slider-wrapper .next-button i {
	font-size: 18px;
	padding: 16px 22px;
	background: #fff;
	color: #e50019;
	border-radius: 50px;
}
section.enquiry-services .service-slider-wrapper .prev-button {
	top: -4rem;
}
section.enquiry-services .service-slider-wrapper .next-button {
	bottom: -4rem;
}
section.enquiry-services .service-vertical-slider a {
	text-decoration: none;
	color: #fff;
	padding: 20px 35px;
	text-align: center;
	font-size: 1.3rem;
	font-weight: 600;
	display: block;
	margin: 10px 0;
	box-shadow: 0px 0px 4px rgba(0,0,0,1);
	background: #111;
}
section.enquiry-services .service-vertical-slider .slick-arrow {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
section.enquiry-services .service-vertical-slider .slick-prev {
	top: 25rem;
}
section.enquiry-services .service-vertical-slider .slick-next {
	top: -3rem;
}
/*end of service vertical slider*/
/*end of enquiry and services section*/


/*gallery slider section*/
section.gallery {

}
section.gallery .gallery-slider-wrapper {
	width: 100%;
	background: #000;
}
section.gallery .gallery-slider-wrapper .items {
	height: 250px;
}
section.gallery .gallery-slider-wrapper .items img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
section.gallery .gallery-slider-wrapper .owl-carousel .owl-nav {
	position: absolute;
	top: -75px;
	right: 0;
}
/*custom arrow buttons*/
section.gallery .gallery-slider-wrapper .owl-carousel .owl-nav {
	background: transparent;
	border: none;
	outline: none;
	margin: 0 0 30px 10px;
}
section.gallery .gallery-slider-wrapper .owl-carousel .owl-nav .owl-prev {

}
section.gallery .gallery-slider-wrapper .owl-carousel .owl-nav .owl-prev i,
section.gallery .gallery-slider-wrapper .owl-carousel .owl-nav .owl-next i {
	font-size: 18px;
	padding: 16px;
	background: #fff;
	color: #e50019;
	border-radius: 50px;
}
section.gallery .gallery-slider-wrapper .owl-carousel .owl-nav .owl-prev:hover,
section.gallery .gallery-slider-wrapper .owl-carousel .owl-nav .owl-next:hover {
	background: none;
}
/*end of custom arrow buttons*/
section.gallery .section-button {
	text-align: center;
}
/*end of gallery slider*/


/*testimonials slider section*/
section.testimonials {
	background-color: #1b1b1b;
	background-image: url(../images/background-img/testimonials-bg.png);
	background-repeat: no-repeat;
	background-size: 300px 220px;
	background-position: right top;
	padding: 50px 0;
	padding-bottom: 100px;
	border-bottom: 1px dashed #535353;
}

section.testimonials .testimonials-slider-wrapper {
	padding: 10px;
}
section.testimonials .testimonials-slider-wrapper .owl-carousel .items {
	background: #e50019;
}
/*slider arrows*/
section.testimonials .testimonials-slider-wrapper .owl-carousel .owl-nav .owl-prev,
section.testimonials .testimonials-slider-wrapper .owl-carousel .owl-nav .owl-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
section.testimonials .testimonials-slider-wrapper .owl-carousel .owl-nav .owl-prev {
	left: -30px;
	font-size: 7px;
}
section.testimonials .testimonials-slider-wrapper .owl-carousel .owl-nav .owl-next {
	right: -30px;
}
section.testimonials .testimonials-slider-wrapper .owl-carousel .owl-nav .owl-prev i,
section.testimonials .testimonials-slider-wrapper .owl-carousel .owl-nav .owl-next i {
	font-size: 18px;
	padding: 16px;
	background: #fff;
	color: #e50019;
	border-radius: 50px;
}
section.testimonials .testimonials-slider-wrapper .owl-carousel .owl-nav .owl-prev:hover,
section.testimonials .testimonials-slider-wrapper .owl-carousel .owl-nav .owl-next:hover {
	background: none;
}
/*end of slider arrows*/
/*testimonials items*/
section.testimonials .items {
	background: #e50019;
	padding: 3rem;
	text-align: center;
}
section.testimonials .items .user-img {
	height: 150px;
	width: 150px;
	border-radius: 75px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 3rem;
}
section.testimonials .items .user-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
section.testimonials .items h2 {
	color: #fff;
	font-size: 1.5rem;
	margin-bottom: 2rem;
}
section.testimonials .items p {
	color: #fff;
	font-size: 1rem;
}
/*end of testimonials items*/
/*end of testimonials slider*/


/*footer section*/
section.footer {
	padding: 50px 0 30px 0;
}
section.footer .footer-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}
section.footer .footer-logo .footer-logo-1,
section.footer .footer-logo .footer-logo-2 {
	height: 90px;
}
section.footer .footer-logo .footer-logo-1 img,
section.footer .footer-logo .footer-logo-2 img {
	height: 100%;
	border: none;
	outline: none;
}
section.footer .footer-logo .footer-line {
	border: 1px solid #e50019;
	height: 120px;
	margin: 0 3rem;
}
/*footer-locations*/
section.footer .footer-locations {
	margin-bottom: 60px;
}
section.footer .footer-locations .footer-location {
	text-align: center;
}
section.footer .footer-locations .footer-location h2 {
	color: #e50019;
	font-size: 15px;
}
section.footer .footer-locations .footer-location .footer-location-underline-center {
	margin: 20px auto;
	display: flex;
	justify-content: center;
}
section.footer .footer-locations .footer-location .footer-location-underline-center .footer-location-underline {
	border: 2px solid #e50019;
	width: 100px;
}
section.footer .footer-locations .footer-location p {
	color: #fff;
	font-size: 12px;
	margin-bottom: 0;
}
section.footer .footer-locations .footer-location p span {
	color: #e50019;
}
/*end of footer-locations*/

/*footer-socials*/
section.footer .footer-social {
	text-align: center;
	margin-bottom: 50px;
}
section.footer .footer-social h2 {
	color: #fff;
	font-size: 15px;
}
section.footer .footer-social a {
	text-decoration: none;
}
section.footer .footer-social a img {
	width: 30px;
	margin-right: 5px;
}
/*end of footer-socials*/

section.footer .footer-policy {
	text-align: center;
	color: #fff;
	font-size: 12px;
}
section.footer .footer-policy .footer-policy-terms {
	margin-bottom: 20px;
}
section.footer .footer-policy .footer-policy-terms a {
	text-decoration: none;
	color: #fff;
}
/*end of footer section*/



/*-------------------------------------------------------------------------------------*/



@media screen and (max-width: 991px) {
	/*universal title css*/
	.section-title h2 {
		font-size: 1.5rem;
	}
	/*end of universal title css*/

	/*banner-slider*/
	.banner-slider-wrapper .items .slider-detail {
		margin-top: 35px;
	}
	.banner-slider-wrapper .items .slider-detail .slider-detail-text h2 {
		font-size: 2rem;
	}
	.banner-slider-wrapper .items .slider-detail .slider-detail-text p {
		font-size: 1rem;
	}
	.banner-slider-wrapper .items .slider-detail .slider-detail-text .button a {
		font-size: .7rem;
	}
	.banner-slider-wrapper .items .slider-detail .slider-detail-img {
		height: 300px;
	}
	/*end of banner slider*/

	

	/*about-us section*/
	section.about-us .about-us-img {
	width: 300px;
	height: 300px;
	}
	section.about-us .about-us-text p {
		font-size: 1 rem;
		margin: 10px 0;
	}
	/*end of about-us section*/

	/*enquiry & service section*/
	section.enquiry-services .service-slider-wrapper {
		width: 90%;
	} 
	section.enquiry-services .service-vertical-slider a {
		padding: 20px;
	}
	/*end of enquiry & service section*/	

}


@media screen and (max-width: 767px) {
		/*topbar*/
	header.topbar {
		height: 30px;
	}
	header.topbar .topbar-content {
		line-height: 30px;
	}
	header.topbar .topbar-content .topbar-social h2 {
		font-size: 10px;
		margin-right: 7px;
	}
	header.topbar .topbar-content .topbar-social img {
		margin-right: 5px;
		width: 20px;
	}
	header.topbar .topbar-content .topbar-contact a {
		font-size: 10px;
	}
	header.topbar .topbar-content .topbar-location {

	}
	header.topbar .topbar-content .topbar-location {
		/*font-size: 10px;*/
	}
	header.topbar .topbar-content .topbar-location a {
		font-size: 12px;
		font-weight: normal;
	}
	header.topbar .topbar-content .topbar-location a i {
		font-size: 20px;
	}
	/*end of topbar*/

	/*navigation bar*/
	section.navigation-bar .main-nav a {
		font-size: 13px;
	}
	section.navigation-bar .main-logo {
		height: 60px;
	}
	section.navigation-bar .sub-logo {
		height: 40px;
	}
	section.navigation-bar .navigation-links ul li a {
		padding: 5px;
	}
	/*end of navigation bar*/

	/*about-us section*/
	section.about-us .about-us-img {
		display: none;
	}

	/*enquiry & service section*/
	section.enquiry-services .enquiry-services-items .section-title {
		margin-top: 50px;
	} 
	/*end of enquiry & service section*/	

	/*testimonials section*/
	section.testimonials .testimonials-slider-wrapper {
		width: 90%;
		margin: 0 auto;
	}
	/*end of testimonials section*/


	/*footer section*/
	section.footer .footer-locations .footer-location {
		margin-bottom: 30px;
	}
	section.footer .footer-locations .footer-location .footer-location-underline-center {
		margin: 5px auto;
	}
	/*end of footer section*/
}


@media screen and (max-width: 575px) {
	/*topbar*/
	header.topbar .topbar-content .topbar-contact {
		display: none;
	}
	/*navigation bar*/

	/*end of navigation bar*/

}

