/*
Theme Name: K33 Hair Nepal
Theme URI: https://wordpress.org/
Author: Ananta Shrestha
Author URI: https://wordpress.org/
Description: 
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:k33hairnepal
*/
body{
	overflow-x:hidden;
	margin: 0;
}
html {
	margin: 0 !important;
}
#inner-section {
	padding: 60px 0px;
	background: #1b1b1b;
}
/** table css **/
.table_wrapper{
	margin-bottom: 30px;
}
.table-container{
	width: 95%;
	margin: 0px auto;
}
.unit-table {
	overflow-x: auto;
	white-space: nowrap;
	display: block;
	width: 100% !important;
}
.main-table-head th {
	height: 50px;
	color: #fff;
	font-size: 15px;
	padding: 0px !important;
	text-align: center;
}
.secondary-table-head{
	background: #e50019;
	color: #fff;
	font-size: 13px;
}
#new-hair_previous,#new-hair_next,#maintenance-hair_previous,#maintenance-hair_next{
	background: #e50019;
	color: #fff !important;
}
.main-table-head th:first-child{
	background: #111;
}
.main-table-head th:last-child{
	background:#222;
}
.table-title{
	margin-bottom: 20px;
	text-align: center;
}
.table-title h1 {
	font-size: 32px;

	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
}
/** end of table css **/

.footer-location h2 a {
	color: #e50019;
	font-size: 15px;
	text-decoration: none !important;
}
.form-buttons input {
	width: 150px !important;
}
.form-buttons {
	display: flex;
	column-gap: 10px;
}
.inner-page_banner-content-wrapper {
	padding: 70px 0px;
}
.inner-title h1 {
	font-size: 52px;
	color: #fff;
	text-shadow: 0px 0px 3px #000;
	margin-bottom: 	0px;
}
.wpcf7-not-valid-tip {
	margin-bottom: 10px;
}
.wpcf7-response-output {
	color: #fff;
	margin-left: 0px !important;
}
.footer-line:last-child {
	display: none;
}

/** gallery section inner page **/
.gallery-pop-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	z-index: 1111;
	display: none;
	overflow-y:auto ;
}
.next-gallery i,.prev-gallery i{
	font-size: 32px;
	color: #fff;
}
.pop-image-wrapper {
	width: 40%;
	margin: auto;
	position: relative;
}
.pop-wrap img {
	width: 100%;
}
.close-gallery {
	cursor: pointer;
	font-size: 52px;
	color: red;
	position: fixed;
	top: 0;
	top: 21px;
	right: 10px;
}
.prev-gallery {
	position: absolute;
	top: 40%;
	left: -30%;
	cursor: pointer;
}
.next-gallery{
	position: absolute;
	top:40%;
	right: -30%;
	cursor: pointer;
	
}
.inner-galler-wrapper {
	background-color: #1b1b1b;
	background-image: url(assets/images/boutique_background.svg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 60px 0px;
}
.gallery-items {
	display: flex;
	flex-flow: row wrap;
}
.gallery-item {
	width: calc(100% / 3);
}
.gallery-item .gallery-image img {
	width: 100%;
	height: 275px;
	object-fit: cover;
}
/** end of gallery section inner page **/


/** inner contact page **/
.inner-contact-wrapper {
	background-color: #1b1b1b;
	background-image: url(assets/images/boutique_background.svg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 80px 0px;
}

.wpcf7-form.init.enquiry-form.contact-form label {
	font-size: 15px;
	color: #fff;
	line-height: 23px;
}
.wpcf7-form.init.enquiry-form.contact-form label span {
	color: red;
}
.wpcf7-form.init.enquiry-form.contact-form input {
	width: 100%;
	line-height: 40px;
	text-indent: 10px;
}
.wpcf7-form.init.enquiry-form.contact-form  textarea{
	width: 100%;
	text-indent: 10px;

}
.wpcf7-form.init.enquiry-form.contact-form .col-lg-6 {
	margin-top: ;
	margin-bottom: 15px;
}
.wpcf7-form.init.enquiry-form.contact-form .form-buttons{
	margin-top: 15px;
}
.form-buttons button {
    border: none;
	padding: 10px 30px;
	font-size: .8rem;
	margin-right: 20px;
	background: #fff;
	transition: all .3s ease;
}

/** end of inner contact page **/


/** blog section **/
.blog-section.home-blog {
	padding: 60px 0px;
}
.blog-section .section-button {
	text-align: center;
}
.blog-items-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	row-gap: 30px;
}
.blog-items-wrapper .blog-item{
	width: calc(100% / 3 - 20px);
}
.blog-item .blog-image {
	width: 100%;
	height: 250px;
	overflow: hidden;
}
.blog-item .blog-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.8s;
}
.blog-item .blog-image img:hover{
	transform: scale(1.1);
}
.blog-item-wrapper .blog-content {
	background: #000;
	padding: 12px 15px;
}
.home-blog .blog-item-wrapper .blog-content{
	background: #1b1b1b;
}
.blog-item-wrapper  .blog-content h1,.blog-content h1 a {
	color: #fff;
	font-size: 23px;
	line-height: 28px;
}
.blog-item-wrapper  .blog-content p {
	font-size: 13px;
	line-height: 22px;
	color: #fafafa;
}
/* end of blog section **/

/** single blog section **/
.single-blog-section {
	width: 100%;
	display: block;
	overflow: hidden;
	padding: 60px 0px;
}
.single-blog-wrapper {
	width: 100%;
	display: block;
}
.single-blog-wrapper .single-blog-image {
	float: left;
	width: 25%;
	margin-right: 2%;
}
.single-blog-image img{
	width: 100%;
}
.singel-blog-content p {
	color: #fff;
	font-size: 14px;
	line-height: 25px;
}
.single-blog-heading h1 {
	font-size: 32px;
	color: #fafafa;
}
/** end of single blog section **/


/** service section **/

.services-items {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	row-gap: 30px;
}
.service-item {
	width: calc(100% / 3 - 20px);
	border: 1px solid #222;
}
.secvice-contents {
	background: #000;
	padding: 12px 15px;
}
.secvice-contents h1,.secvice-contents h1 a{
	font-size: 23px;
	color: #fff;
	line-height: 28px;
	margin-bottom: 0px;
	text-align: center;
	text-decoration: none !important;
}
.service-image {
	height:250px;
	width: 	100%;
}
.service-image img {
	width: 100%;
	height:100%;
	object-fit: cover;
}
/** end of service section **/


/** dashboard page **/
.dashboard-header {
	background: #111;
	margin-bottom: 30px;
	margin-top: -6px;
	padding: 20px 0px;
}
.header-wrapper {
	display: flex;
	align-items: center;
}
.user_name h1 {
	font-size: 21px;
	color: #fff;
	font-weight: 800;
	margin: 0px;
}

.user_name h1 i {
	color: #e50019;
}
.header-action-button{
	margin-left: auto;
}
.header-action-button p{
	margin-bottom: 0;
}
.header-action-button p a {
	font-size: 18px;
	margin: 0;
	color: #e50019;
}
.header-action-button p i{
	color: #fff;
}
/** end of dashboard page **/
.not-found{
	background: #1b1b1b;
}
.not-found-title {
	padding: 60px 0px;
}
.not-found-title h1{
	font-size: 48px;
	color: #fff;
}


/**form pollice **/
.enquiry-form-wrapper {
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
	border-radius: 20px;
}
.enquiry-form {
	padding: 30px 20px;
}
.form-title h1 {
	background: #e50019;
	margin: 0;
	color: #fff;
	font-size: 28px;
	font-weight: ;
	padding: 10px 20px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
.enquiry-services .form-wrapper .enquiry-form input {
	font-size: 1rem;
	padding: 5px 10px;
	width: 100%;
	height: 45px;
	margin-bottom: 20px;
	background: #fafafa;
	border: 0px;
	border-radius: 5px;
}
.wpcf7-form.init.enquiry-form .row {
	row-gap: 15px;
}
/** end of form **/

.branch-items {
	display: flex;
	flex-flow: row wrap;
	row-gap: 15px;
}
.branch-items .branch-item {
	width: 100%;
	border: 1px solid rgba(0,0,0,0.3);
	padding: 15px 10px;
	background: #1b1b1b;
}
.branch-title h1 {
	font-size: 24px;
	color: #fff;
	margin-bottom: 15px;
}
.branch-other-info ul {
	padding: 0px;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	row-gap: 12px;
}
.branch-other-info ul li {
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
}
.branch-other-info ul li .branch-icon{
	background: #e50019;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius:50%;
	color: #fff;
	font-size: 16px;
}
.branch-info-content{
	width: 90%;
	font-size: 14px;
	color: #fafafa;
}